name: goreleaser

on:
  push:
    tags:
      - "*"

env:
  GO_VERSION: 1.24

permissions:
  contents: write

jobs:
  lint-and-test:
    name: lint & test
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
      
      - uses: ./.github/actions/lint-and-test
        with:
          go-version: ${{env.GO_VERSION}}

  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}